/* c:\Users\Matias\Documents\NaturalmenteTuc\src\style-component\input.css */
@tailwind utilities;

@theme {
    --color-midnight: #121063;
    --color-fondo: #e9faef;
    --color-navFondo: #d1f7e1;
    --color-grisOscuro: #A9A9A9;
    --color-grisClaro: #DCDCDC;
    --color-colorletra: #0d5725;

    --breakpoint-xsm: 500px;
}



