/* c:\Users\Matias\Documents\NaturalmenteTuc\src\style-component\input.css */
@tailwind utilities;

@theme {
    --color-midnight: #121063;
    --color-fondo: #e9faef;
    --color-grisOscuro: #A9A9A9;
    --color-grisClaro: #DCDCDC;
}



