/* Estilos generales para el Navbar */
.navbar {
  background-color: #d1f7e1; /* Fondo verde claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 1rem 0; /* Espaciado interno */
  position: sticky; /* Hacer el navbar sticky */
  top: 0; /* Pegar el navbar en la parte superior */
  z-index: 1000; /* Asegurar que el navbar esté por encima de otros elementos */
}

/* Estilos para el Brand (Logo o nombre de la marca) */
.navbar-brand {
  font-size: 1.5rem;
  color: #0d5725; /* Color de texto oscuro */
  align-items: center;
}

.navbar-brand:hover {
  color: #28c147; /* Color verde al hacer hover */
}

/* Estilos para los enlaces del Navbar */
.nav-link {
  font-size: 1.2rem;
  color: #0d5725; /* Color de texto oscuro */
  margin: 0 0.5rem; /* Espaciado entre enlaces */
  transition: color 0.3s ease; /* Transición suave */
  border-radius: 0.5rem; /* Bordes redondeados */
}

.nav-link:hover {
  background-color: #b9ddc8; /* Fondo verde claro al hacer hover */
  color: #28c147; /* Color verde oscuro al hacer hover */
  border-radius: 0.5rem; /* Bordes redondeados al hacer hover */
}

.me-auto {
  margin-left: 50%;
}

/* Estilos para el botón de toggle en dispositivos móviles */
.navbar-toggler {
  border: none; /* Sin borde */
  padding: 0.5rem; /* Espaciado interno */
}

.navbar-toggler:focus {
  outline: none; /* Sin contorno al hacer focus */
}

/* Estilos para el Navbar en modo oscuro */
.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #f8f9fa; /* Color de texto claro */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente en móviles */
  }

  .nav-link {
    margin: 0.5rem 0; /* Aumentar el espaciado entre enlaces en móviles */
    padding: 0.5rem 1rem; /* Aumentar el padding para facilitar el clic */
    width: 100%; /* Hacer que los enlaces ocupen todo el ancho */
    text-align: center; /* Centrar el texto */
  }

  .me-auto {
    margin-left: 0; /* Eliminar el margen izquierdo en móviles */
  }
}

/* Estilos para el Navbar en modo oscuro en dispositivos móviles */ 
@media (max-width: 768px) {
  .navbar-dark .navbar-brand,
  .navbar-dark .nav-link {
    color: #f8f9fa; /* Color de texto claro en modo oscuro */
  }
}

