

/* Estilos generales para el Navbar */
#navbar {
  background-color: #d1f7e1; /* Fondo verde claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el Brand (Logo o nombre de la marca) */
#brand {
  font-size: 1.5rem;
  color: #0d5725; /* Color de texto oscuro */
  align-items: center;
}

#brand:hover {
  color: #28c147; /* Color verde al hacer hover */
}

/* Estilos para los enlaces del Navbar */
#nav-links {
  font-size: 1.2rem;
  color: #0d5725; /* Color de texto oscuro */
  margin: 0 0.5rem; /* Espaciado entre enlaces */
  transition: color 0.3s ease; /* Transición suave */
  border-radius: 0.5rem; /* Bordes redondeados */
}

#nav-links:hover {
  color: #28c147; /* Color verde oscuro al hacer hover */
}

#nav-links-tog {
  font-size: 1.5rem;
  color: #0d5725; /* Color de texto oscuro */
  align-items: center;
}

#main-menu {
  justify-content: center;
  color: #d1f7e1;
}

.me-auto {
  margin-left: 50%;
}

/* Estilos para el botón de toggle en dispositivos móviles */
#navbar-toggler {
  border: none; /* Sin borde */
  padding: 0.5rem; /* Espaciado interno */
}

#navbar-toggler:focus {
  outline: none; /* Sin contorno al hacer focus */
}

/* Estilos para el Navbar en modo oscuro */
.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #f8f9fa; /* Color de texto claro */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  #brand {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente en móviles */
  }

  #nav-links {
    margin: 0.5rem 0; /* Aumentar el espaciado entre enlaces en móviles */
    padding: 0.5rem 1rem; /* Aumentar el padding para facilitar el clic */
    width: 100%; /* Hacer que los enlaces ocupen todo el ancho */ /* Estilos para el Navbar en modo oscuro en dispositivos móviles */
    text-align: center; /* Centrar el texto */
    .navbar-dark .navbar-brand,
    .navbar-dark .nav-link {
      color: #f8f9fa; /* Color de texto claro en modo oscuro */
    }
  }
}
